<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WebBoard</display-name>
	<welcome-file-list>
		<!-- <welcome-file>/WEB-INF/views/index.jsp</welcome-file> -->
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
<!--=========================== 컨트롤러============================= -->
	<servlet>
		<servlet-name>WebController</servlet-name>
		<servlet-class>controller.ServletController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
<!--=========================== 상수 =================================-->
	<!-- 업로드 크기, 업로드 장소 -->
	<context-param>
		<param-name>maxPostSize</param-name>
		<param-value>102400</param-value>
	</context-param>
	<context-param>
		<param-name>saveDir</param-name>
		<param-value>/WEB-INF/Uploads</param-value>
	</context-param>
	
	<!-- 페이징 관련 -->
	<!-- 한 페이지 출력 게시물 수, 한 화면에 출력할 페이지 번호 수 -->
	<context-param>
		<param-name>POSTS_PER_PAGE</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>PAGES_PER_BLOCK</param-name>
		<param-value>5</param-value>
	</context-param>
	
<!--========================== 리스너 ================================  -->	
	<!-- tiles -->
	<listener>
	    <listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
	</listener>
	
<!--========================== filter=============================  -->	
	<!-- 인코딩 -->
	<filter>
		<filter-name>SetCharEncoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 로그인 요구 -->
	<filter>
		<filter-name>CheckLogin</filter-name>
		<filter-class>util.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckLogin</filter-name>
		<url-pattern>/detail.do</url-pattern>
		<url-pattern>/writeform.do</url-pattern>
	</filter-mapping>
	
	<!-- 비정상 접근 원천 차단 -->
	<filter>
		<filter-name>Prohibition</filter-name>
		<filter-class>util.filter.ProhibitionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Prohibition</filter-name>
		<url-pattern>/login.do</url-pattern>
		<url-pattern>/join.do</url-pattern>
		<url-pattern>/delete.do</url-pattern>		
	</filter-mapping>
	
	<!-- 자기 글만 수정/삭제 가능 필터 -->
	<filter>
		<filter-name>CheckWriter</filter-name>
		<filter-class>util.filter.WriterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckWriter</filter-name>
		<url-pattern>/editform.do</url-pattern>
	</filter-mapping>
	
	<!-- 로그인 페이지, 로그인 과정 중복 요청 방지 -->
	<filter>
		<filter-name>LoginDupli</filter-name>
		<filter-class>util.filter.LoginDuplicatedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginDupli</filter-name>
		<url-pattern>/loginform.do</url-pattern>
		<url-pattern>/joinform.do</url-pattern>		
	</filter-mapping>
	
	<!-- naver lucy xss filter -->
	<filter>
		<filter-name>xssEscapeServletFilter</filter-name>
		<filter-class>com.navercorp.lucy.security.xss.servletfilter.XssEscapeServletFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>xssEscapeServletFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>